* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    padding: 5px;
}

.page-title,
.payoff {
    margin: 5px;
}

.logo {
    margin: 5px;
    width: 100px;
    height: 60px;
}

nav {
    width: 100%;
    height: 60px;
    background-color: rgb(110, 233, 176);
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    margin-right: 20px;
}

nav ul li a {
    color: white;
}

nav ul li a:hover {
    background-color: gold;
    padding: 5px;
    border-radius: 5px;
    color: white;
    transition: 0.8s;
}

.promo-movie {
    margin: 10px;
}

.promo-movie video {
    width: 100%;
    height: auto;
}

.articles {
    margin: 10px;
    width: 80%;
}

article h2 {
    margin-top: 5px;
}

.articles p {
    font-size: 16px;
    padding: 5px 0 5px;
    text-align: left;
}

.articles img {
    float: right;
    width: 260px;
    height: 130px;
    margin: 9px 0 9px 9px;
    border-radius: 5px;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: #383636;
    border-radius: 100%;
    display: inline-block;
}

article footer {
    margin-top: 5px;
}

.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

aside {
    width: 20%;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: lightgray;
    flex-shrink: 0;
    flex-grow: 0;
    line-height: 20px;
}

aside h2 {
    margin: 8px 0;
}

.cookie {
    width: 200px;
    padding: 15px;
    margin: 10px;
    background-color: #FA0;
    color: #FFF;
    opacity: 50%;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
}

.footer {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #333;
    color: #fff;
    line-height: 40px;
}

footer p {
    margin: 10px;
}

@media (max-width: 798px) {
    .row {
        flex-direction: column-reverse;
    }

    aside {
        width: 98%;
        margin: 0 5px;
    }

    .articles {
        max-width: 100%;
        width: 98%;
        display: flex;
        flex-direction: column-reverse;
    }

    .articles p {
        text-align: left;
        font-size: 16px;
        padding: 5px 0 5px;
    }

    .articles img {
        float: left;
        margin: 9px 9px 9px 0;
    }
}


/* ===============Mobile=============== */

.hamburgerBtn {
    display: none;
    float: right;
    padding: 23px 10px 0 10px;
    cursor: pointer;
}

#check {
    display: none;
}

@media (max-width: 480px) {

    .row {
        flex-direction: column-reverse;
    }

    aside {
        width: 98%;
        margin: 0 5px;
    }

    .articles {
        max-width: 100%;
        width: 98%;
        display: flex;
        flex-direction: column-reverse;
    }

    .articles p {
        text-align: justify;
        font-size: 16px;
        padding-right: 10px;
    }

    .articles img {
        width: 97%;
    }

    .logo {
        display: none;
    }

    header {
        position: absolute;
        padding: 5px;
    }

    .hamburgerBtn {
        display: block;
    }

    nav {
        height: 70px;
    }

    ul {
        display: none;
        position: absolute;
        top: 4.3rem;
        right: -100%;
        width: 50%;
        background-color: #2db2ff;
        padding-left: 5%;
        transition: .6s;
    }

    nav ul li a {
        font-size: 16px;
        color: white;
    }

    #check:checked~ul {
        right: 0;
        display: inline-grid;
    }
}


/* ===============Mobile=============== */